.page {
    height: 100%;
    width: 100%;
    display: flex;
    height: auto;
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0;
}

.Statistics-page .graph-sec {
    /* background-color: red; */
    width: 50%;
    display: flex;
    justify-content: center;
    padding: var(--large-padding);
    /* height: 100vh; */
}



.Statistics-page .information-sec {
    background-color: blue;
    width: 50%;
    height: 100%;
}

