.whole-section {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--black-almost-transparnt);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7;
}

.whole-section-invisible {
    height: 0;
    transition: 0.7;
}

.whole-section .product-detail-section {
    background-color: var(--white);
    width: 90%;
    height: 95%;
    border-radius: 20px;
    position: relative;
    overflow-y: scroll;
    padding: var(--extra-large-padding) var(--large-padding);
    display: flex;
    color: var(--black);
    box-shadow: 0 5px 15px var(--ashen);
}
.whole-section .product-detail-section::-webkit-scrollbar {
    display: none;
}

.whole-section .product-detail-section .statistics {
    width: 40%;
    height: 100%;
}
.whole-section .product-detail-section .other-statistics {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--almost-black);
    padding-top: var(--medium-padding);
    user-select: text !important;
    margin-top: var(--small-margin);
    border-top: 0.5px solid var(--black-almost-transparnt);
    /* background-color: red; */
}
.whole-section .product-detail-section .product-id{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
}
.whole-section .product-detail-section .product-id * {
    user-select: text !important;
}
.whole-section .product-detail-section .product-id p{
    font-size: calc(var(--primary-size) /1.5);
    /* background-color: red; */
}
.whole-section .product-detail-section h5{
    /* width: 45%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--medium-margin) var(--small-margin);
    /* background-color: red; */
    cursor: pointer;

}
.whole-section .product-detail-section h5 span {
    margin: 0 var(--small-margin);
    opacity: 0.7;
}.whole-section .product-detail-section h5 p {
    margin: 0 var(--extra-small-margin);
    opacity: 0.8;
}
.whole-section .product-detail-section #edit-section {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    padding: var(--medium-padding);
    display: flex;
    /* align-items: start;
    justify-content: start; */
    flex-wrap: wrap;
    color: var(--black);

}
.whole-section .product-detail-section #edit-section::-webkit-scrollbar {
    display: none;
}
.whole-section .product-detail-section #edit-section .item {
    /* flex: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    width: 30%;
    /* height: fit-content; */
    min-height: 120px;
    margin: var(--small-margin);
    padding: 0;
    border-radius: 20px;
    background-color: var(--almost-white);
    opacity: 0.8;
    position: relative;
    padding: 25px var(--small-margin) var(--small-margin) var(--small-margin) ;
    color: var(--black);

}

.whole-section .product-detail-section #edit-section .item h4 {
    position: absolute;
    top: 5%;
    margin: var(--small-margin);
}
.whole-section .product-detail-section #edit-section .item P {
    opacity: 0.5;
    margin: var(--small-margin);
    font-size: small;
}
.whole-section .product-detail-section #edit-section .item input:not(.file) {
    padding: calc(var(--medium-padding) /1.2);
    margin: calc(var(--extra-small-margin) /1.5);
    border-radius: 50px;
    width: 90%;
    outline: none;
    border: 1px solid var(--ashen);
    background-color: var(--white);
    color: var(--black);
}
.whole-section .product-detail-section #edit-section .description-item {
    /* flex: 90%; */
    width: 92%;
    display: flex;
    flex-direction: row;
    padding: 40px var(--medium-margin) var(--medium-margin) var(--medium-margin) ;
    padding-top: 40px;
    /* height: 70px; */
}
.whole-section .product-detail-section #edit-section .description-item textarea {
    width: 50%;
    margin: calc(var(--extra-small-margin) /1.5);
    border-radius: 10px;
    height: 100px;
    padding: var(--small-padding);
    background-color: var(--white);
    color: var(--black);
}

.whole-section .product-detail-section #edit-section .images-container{
    margin: var(--medium-margin);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.whole-section .product-detail-section #edit-section img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: -2px;
    cursor: pointer;
}
.whole-section .product-detail-section #edit-section #images img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: -2px;
    cursor: pointer;
}
.whole-section .product-detail-section #edit-section .LoadingIcon {
    position: absolute;
    top: 50%;
    padding: 0px;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.whole-section .product-detail-section #edit-section .LoadingIcon #loadingIcon{
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border: 5px solid var(--white-almost-transparnt);
    padding: var(--small-padding);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
    margin: 0;
}
.whole-section .file {
    display: none;
    padding: calc(var(--small-padding) *1.5);
    /* margin: calc(var(--extra-small-margin) /2); */
    margin: 0;
    border-radius: 50px;
    width: 90%;
    outline: none;
    border: 1px solid var(--ashen);
    background-color: var(--white-almost-transparent);
    margin-top: var(--medium-margin);
    font-size: 10px;
    /* background-color: blue; */
}
.images-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    min-height: 30%;
    max-width: 90%;
    max-height: 70vh;
    /* margin: 5px; */
    background-color: var(--white);
    box-shadow: 0 5px 150px var(--ashen-semi-transparent);
    /* padding: var(--small-padding); */
    border-radius: 20px;
    /* overflow: scroll; */
}
.images-edit .header{
    background-color: var(--white);
    width: 100%;
    padding: var(--medium-padding);
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 20px;
    opacity: 0.8;
}
.images-edit .header .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--small-margin);
    background-color: var(--ashen-semi-transparent);
    padding: var(--small-padding) var(--medium-padding);
    border-radius: 50px;
    color: white;
    font-size: calc(var(--small-size) *1.2);
    cursor: pointer;
}
.images-edit .Loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-edit .Loading-icon #loadingIcon{
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border: 5px solid var(--white-almost-transparnt);
    padding: var(--small-padding);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
    margin: 0;
}
.images-edit .header .item h4{
    margin: 0 var(--small-margin);
}

.images-edit .header :active{ 
    background-color: var(--ashen);     
}
.images-edit .images-display{
    background-color: var(--white);
    width: 100%;
    min-height: 30%;
    max-height: 60vh;
    padding: var(--medium-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: var(--medium-padding);
    border-radius: 20px;
}
.images-edit .images-display::-webkit-scrollbar {
    display: none;
}
.images-edit .images-display .no-image{
    /* background-color: green; */
    color: black;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 20px;
    opacity: 0.8;
}
.images-edit .images-display img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid var(--black);
    object-fit: contain;
}
.file {
    display: none;
}
.whole-section .product-detail-section #delete h4{
    color: red;
}
.whole-section .product-detail-section #remove-product {
    background-color: red;
    color: white;
    width: 80%;
    padding: var(--medium-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: small;
    cursor: pointer;
}

.whole-section .product-detail-section #commit-btn {
    background-color: var(--black);
    width: 100%;
    padding: var(--medium-padding);
    margin: calc(var(--extra-small-margin) /1.5);
    margin-top: var(--medium-margin);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--white);
    cursor: pointer;
}

.whole-section .product-detail-section #commit-btn:active {
    background-color: var(--ashen);
}

.Loading-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid var(--white-almost-transparnt);
    background-color: var(--black-almost-transparnt);
}
.Loading-icon #loadingIcon{
    background-color: var(--white);
    width: 30px;
    height: 30px;
    border: 5px solid var(--white-almost-transparnt);
    padding: var(--small-padding);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
    margin: 0;
}





#add-product-whole-section {
    position: fixed;
    top: calc(50% + calc(var(--header-height) /2));
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: calc(100vh - calc( var(--header-height) *2));
    background-color: var(--white);
    box-shadow: 0 5px 15px var(--ashen-semi-transparent);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.7;
    border-radius: 20px;
}
.add-product-whole-section-invisible {
    height: 0;
    transition: 0.7;
}
#add-product-whole-section .header {
    padding: var(--large-padding);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid var(--black-almost-transparnt);
    border-radius: 20px;
}
#add-product-section {
    opacity: 1;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 20px;
    padding: var(--medium-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--black);
    
}
#add-product-section::-webkit-scrollbar {
    display: none;
}
#add-product-section .item {
    /* flex: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    width: 30%;
    /* height: fit-content; */
    min-height: 120px;
    margin: var(--small-margin);
    padding: 0;
    border-radius: 20px;
    background-color: var(--almost-white);
    opacity: 0.8;
    position: relative;
    padding: 25px var(--small-margin) var(--small-margin) var(--small-margin) ;
    color: var(--black);

}

#add-product-section .item h4 {
    position: absolute;
    top: 5%;
    margin: var(--small-margin);
}
#add-product-section .item P {
    opacity: 0.5;
    margin: var(--small-margin);
    font-size: small;
}
#add-product-section .item input:not(.file) {
    padding: calc(var(--medium-padding) /1.2);
    margin: calc(var(--extra-small-margin) /1.5);
    border-radius: 50px;
    width: 90%;
    outline: none;
    border: 1px solid var(--ashen);
    background-color: var(--white);
    color: var(--black);
    backdrop-filter: blur(0);
}
#add-product-section .description-item {
    /* flex: 90%; */
    width: 92%;
    display: flex;
    flex-direction: row;
    padding: 40px var(--medium-margin) var(--medium-margin) var(--medium-margin) ;
    padding-top: 40px;
    /* height: 70px; */
    backdrop-filter: blur(0);

}
#add-product-section .description-item textarea {
    width: 50%;
    margin: calc(var(--extra-small-margin) /1.5);
    border-radius: 10px;
    height: 100px;
    padding: var(--small-padding);
    background-color: var(--white);
    color: var(--black);
}

#add-product-section .images-container{
    margin: var(--medium-margin);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

#add-product-section img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: -2px;
    cursor: pointer;
}
#add-product-section #images img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: -2px;
    cursor: pointer;
}
 .LoadingIcon {
    position: absolute;
    top: 50%;
    padding: 0px;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#add-product-section .LoadingIcon #loadingIcon{
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border: 5px solid var(--white-almost-transparnt);
    padding: var(--small-padding);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
    margin: 0;
}
#add-product-section #delete h4{
    color: red;
}
#add-product-section  #remove-product {
    background-color: red;
    color: white;
    width: 80%;
    padding: var(--medium-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: small;
}

#add-product-section  #commit-btn {
    background-color: var(--black);
    width: 100%;
    padding: var(--medium-padding);
    margin: calc(var(--extra-small-margin) /1.5);
    margin-top: var(--medium-margin);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--white);
    cursor: pointer;
}

#add-product-section #commit-btn:active {
    background-color: var(--ashen);
}

#add-product-section .file {
    display: none;
}

.no-image{
    opacity: 0.8;
    font-size: small;
}


.in-purchases-section .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--almost-white);
    width: 90%;
    padding: var(--large-padding);
    border-radius: 20px;
    opacity: 0.8;
    position: relative;
    color: var(--black);
    border-bottom: 1px solid var(--black-almost-transparnt);
}
.in-purchases-section .item .componnent {
    display: flex; 
}
.in-purchases-section .item .componnent h4 {
    display: flex; 
    color: var(--almost-black);
    opacity: 0.8;
}
.in-purchases-section .item .componnent p {
    margin: 0 var(--small-margin);
    color: var(--black);
}
.in-purchases-section .item .name {
    cursor: pointer;
}
