table * {
    border: 1px solid var(--ashen);
    background-color: var(--almost-white);
    text-align: center;
    padding: var(--small-padding);
    font-size: var(--small-size);
    color: var(--black);
}


#cancel-order-btn {
    color: rgb(255, 0, 0);
}    
#cancel-order-btn:active{
    color: rgb(247, 0, 0);
}
#cancel-order-btn:hover{
    color: rgb(216, 0, 0);
}
    

/*     
    .cancel-order-btn :visited{
    background-color: red;
    }
    
    #cancel-order-btn :link{
    background-color: red;
    }
    
    #cancel-order-btn :focus-within{
    background-color: red;
    }
    
    #cancel-order-btn :focus-visible{
    background-color: red;
    }
    
    #cancel-order-btn :focus-within{
    background-color: red;
    }
     */
    /* #cancel-order-btn {
        background-color: red;
    } */
.delivery-boy-table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--medium-padding);
    /* background-color: red; */
}
.delivery-boy-table h4{
    width: 95%;
    text-align: start;
    font-size: var(--small-size);
    padding: var(--small-padding);
    opacity: 0.7;
    font-weight: 700;
}
.delivery-boy-table table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0; 
}
.delivery-boy-table table td {
    padding: 0;
    width: 25%;
}

.delivery-boy-table table input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

