/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/svg/icons/loading/loading.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
#container{
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* background-color: blue; */
}

#container #loadingIcon {
    width: 15px;
    height: 15px;
    border: 2px solid var(--white-almost-transparnt);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
    margin: 0;
}

.container-of-loading-icon-hole-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-almost-transparnt);
}

.container-of-loading-icon-hole-page #loadingIcon {
    width: 30px;
    height: 30px;
    border: 5px solid var(--white-almost-transparnt);
    border-radius: 50%;
    animation: simple-spin 1s linear infinite;
}



@keyframes simple-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/smallComponent/style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/

.tittle {
    color: var(--black);
}
/* theme toggle */

.theame-toggle {
    background-color: transparent;
    width: var(--primary-width);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: auto;
}

#ball-container {
    background-color: var(--almost-white);
    width: 100%;
    height: auto;
    margin: 0;
    padding: calc(var(--small-padding) /1.2);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#ball {
    background-color: var(--black);
    width: calc(var(--half-width) /1.1);
    height: calc(var(--half-width) /1.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0;
    color: var(--white);
}

/* Grafic */

.graph-container {  
    /* background-color: red; */
    height: 80%;
    cursor: pointer;
    width: 80%;
}
.graph-container .tittle{  
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--medium-padding);
    opacity: 0.9;
    font-size: var(--primary-size);
    font-weight: 200;
}
.graph {
    border-radius: 0.5px solid var(--black);
    /* background-color: red; */
    width: 100%;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    /* justify-content: end; */
    /* align-items: center; */
    position: relative;
    flex-wrap: wrap;
    color: var(--black)
}
.graph .horizontal-numbering{
    width: 10%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    opacity: 0.5;
    font-size: var(--small-size);
    padding: 0 var(--small-padding);
    /* background-color: blue; */
}
.graph .vertical-numbering{
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.5;
    font-size: var(--small-size);
    /* background-color: blue; */
}
.graph .vertical-numbering span{
    width: 13.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(52, 17, 19); */
}
.graph .display {
    width: 90%;
    height: 95%;
    /* background-color: var(--white); */
    display: flex;
    justify-content: space-around;
    align-items: end;
    border: 0.05px solid var(--black);
    border-radius: 10px 10px 10px 0;
    position: relative;
    right: 0;
    background-image: 
    linear-gradient(to right, black 0.3px, transparent 0.4px),
    linear-gradient(to bottom, black 0.3px, transparent 0.4px); 
    background-size: 50px 50px; 
    color: var(--black);
    background-color: var(--black-almost-transparnt);
}
.graph .column {
    position: relative;
    border: 0.05px solid var(--black);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    width: var(--primary-width);
    height: 80%;
    transition: 0.7s ease;
}
.graph .column span{
    color: white;
    margin: var(--medium-margin);
    font-size: var(--small-size);
}
.graph .column .few-profit-span{
    position: absolute;
    top: -30px;
    color: white;
    font-size: var(--small-size);
}

#handling-section {
    min-width: 25%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#handling-section .handling {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--small-margin);
    /* background-color: var(--ashen-semi-transparent); */
    padding: var(--medium-padding);
    border-radius: 50px;
    color: var(--black);
    font-size: calc(var(--small-size) *1.2);
    cursor: pointer;
    min-width: var(--double-width);
}
#handling-section :hover{ 
    background-color: var(--black);  
    color: var(--white);   
}
#handling-section :active{ 
    background-color: var(--ashen);  
    color: var(--white);   
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/pages/statistics/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.page {
    height: 100%;
    width: 100%;
    display: flex;
    height: auto;
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0;
}

.Statistics-page .graph-sec {
    /* background-color: red; */
    width: 50%;
    display: flex;
    justify-content: center;
    padding: var(--large-padding);
    /* height: 100vh; */
}



.Statistics-page .information-sec {
    background-color: blue;
    width: 50%;
    height: 100%;
}


/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/style.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
header {
    background-color: var(--white);
    height: var(--header-height);
    width: 100%;
    box-shadow: 0 5px 15px var(--white-almost-transparnt);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--black);
    z-index: 1099;
}

header .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(var(--primary-size) /1.2);
    opacity: 0.5;
}
header .navigation *{
    margin: 0 var(--medium-margin);
    cursor: pointer;
}

.setting-container {
    display: flex;
    align-items: center;
}

.theme-toggle {
    margin: var(--medium-margin);
}
.theme-toggle {
    margin: var(--medium-margin);
}

/* product-displays-ection */

.product-displays-section {
    /* background-color: red; */
    position: absolute;
    width: 100%;
    height: 100%;
    /* height: calc(100vh - calc(var(--header-height) *2));
    width: calc(100vw - calc(var(--extra-long-width) /1.5)); */
    padding-top: calc(var(--header-height) *2);
    /* padding-left: calc(var(--extra-long-width) /1.5); */
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: var(--white);
}
.product-displays-section::-webkit-scrollbar {
    width: 0;
  }
.product-displays-section .container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--almost-white);
    border-radius: 20px;
}


#Discounts-Section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 980;
    width: 90%;
    height: 95%;
    background-color: var(--white);
    box-shadow: 0 5px 15px var(--ashen-semi-transparent);
    padding: var(--small-padding);
    border-radius: 20px;
    color: black;
    /* resize: both;
    overflow: auto; */
}
#Discounts-Section .header{
    /* position: fixed;
    top: 0; */
    background-color: var(--white);
    width: 100%;
    height: var(--primary-height);
    padding: var(--medium-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 0.8;
    /* box-shadow: 0 5px 15px var(--black-almost-transparnt); */
    border-bottom: 1px solid var(--black-almost-transparnt);
}
#Discounts-Section .header .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--small-margin);
    background-color: var(--ashen-semi-transparent);
    padding: var(--small-padding) var(--medium-padding);
    border-radius: 50px;
    color: white;
    font-size: calc(var(--small-size) *1.2);
    cursor: pointer;
    /* position: relative;
    position: relative;
    background-color: blue; */
}

#Discounts-Section .header .item * {
    background-color: transparent;
}
#Discounts-Section .header .item *:hover {
    background-color: transparent;
}
/* #Discounts-Section .header .item :active {
    background-color: var(--ashen);     
} */
#Discounts-Section .header :hover{ 
    background-color: var(--black);
    color: var(--white);     
    cursor: pointer;
}
#Discounts-Section .header :active{ 
    background-color: var(--ashen);     
}
.delete-discount :hover {
    background-color: transparent;
}
#Discounts-Section .header .fa-x{ 
    position: absolute;
    right: var(--large-margin);
    top: 0;
    right: 0;
    padding: var(--large-padding);
    border-radius: 50px;
    color: var(--black);
}
#Discounts-Section .header .fa-x :hover{
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}
#Discounts-Section .header .fa-x *{
    position: absolute;
    right: var(--large-margin);
    top: 0;
    right: 0;
    padding: var(--large-padding);
    border-radius: 50px 0 50px 50px;
}

#Discounts-Section .display-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    background-color: var(--white-almost-transparnt);
    width: 100%;
    height: calc(100% - var(--primary-height));
    padding: var(--small-padding);
    overflow-y: scroll;
    border-radius: 20px;
}
#Discounts-Section .display-section::-webkit-scrollbar {
    width: 0;
}

#Discounts-Section  .display-section .cart {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--white);
    border-radius: 20px;
    margin: var(--small-margin);
    padding: var(--medium-padding);
    color: var(--black);
    opacity: 0.8;
    box-shadow: 0 5px 15px var(--white-almost-transparnt);
    border: 1px solid var(--ashen-semi-transparent);
    
}
#Discounts-Section  .display-section .cart .item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: var(--small-margin);
    border-radius: 20px;
}
#Discounts-Section  .display-section .cart .item h4{
    font-size: small;
}
#Discounts-Section  .display-section .cart .item .id {
    font-size: small;
    padding: var(--small-padding) var(--large-padding);
    -webkit-user-select: text;
       -moz-user-select: text;
            user-select: text;
    margin: 0 var(--small-margin);
    border-radius: 50px;
    border: 1px solid var(--ashen);
    opacity: 0.7;
}
#Discounts-Section  .display-section .cart .item input{
    font-size: small;
    padding: var(--small-padding);
    margin: 0 var(--small-margin);
    border-radius: 50px;
    border: 1px solid var(--black);
    outline: none;
    background-color: var(--white);
    color: var(--black);
    /* width: fit-content;
    display: inline-block; */
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/categorieSelector.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
#categories-param-sectin {
    width: 100%;
    /* min-height: var(--header-height); */
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    background-color: var(--white);
    /* background-color: red; */
    margin: calc(var(--header-height) /4) 0;
    color: var(--black);
    z-index: 980;
}
#categories-param-sectin .categorie-id {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#categories-param-sectin .categorie-id p{
  border: 1px solid var(--ashen);
  color: var(--ashen);
  width: 90%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 25px;
  margin: var(--small-margin) 0;
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
          user-select: text !important;

  /* padding: var(--small-padding); */
}
#categories-param-sectin #edit-section .item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: var(--extra-small-margin);
    opacity: 0.7;
    cursor: pointer;
}
#categories-param-sectin #edit-section .item:hover{
    color: var(--ashen);
}
#categories-param-sectin #edit-section .item .icon{
    font-size: calc(var(--primary-size) /1.3);   
    margin: var(--extra-small-margin); 
}
#categories-aram-sectin #edit-section .item h6{
    font-size: calc(var(--primary-size) /1.7);    
    /* background-color: red; */
}

#categories-param-sectin #edit-section{
    color: var(--black);
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #categories-param-sectin #edit-section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #categories-param-sectin .input-div {
    width: 90%;
    margin: var(--extra-small-margin) 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0;
  }
  #categories-param-sectin .input-div-for-delete {
    width: 90%;
    margin: var(--extra-small-margin) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
  }
  #categories-param-sectin input {
    width: 100%;
    height: 100%;
    font-size: calc(var(--primary-size) /1.3);
    /* margin: var(--extra-small-margin) 0; */
    padding: var(--medium-padding);
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--ashen);
    opacity: 0.7;
    transition: 0.3s ease;
    background-color: var(--almost-white);
    color: var(--black);

  }
  #categories-param-sectin .input-div .confirm-btn{
    position: absolute;
    /* right: 0; */
    margin: 0;
    padding: 0 var(--small-padding);
    /* top: 0; */
    font-size: var(--small-size);
    border: var(--black);
    background-color: var(--black);
    color: var(--white);
    min-width: calc(var(--primary-width) /1.2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    border: 1px solid var(--ashen);
    cursor: pointer;
  }
  #categories-param-sectin .input-div .confirm-btn:hover{
    background-color: var(--ashen);
  }

  #categories-param-sectin .input-div .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--extra-small-margin);
    position: relative;
    /* background-color: red; */
    padding: 0;
  }
  #categories-param-sectin .input-div .container .confirm-btn-for-rename{
    position: absolute;
    /* right: 0; */
    margin: 0;
    padding: 0 var(--small-padding);
    /* top: 0; */
    font-size: var(--small-size);
    border: var(--black);
    background-color: var(--black);
    color: var(--white);
    min-width: calc(var(--primary-width) /1.2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    border: 1px solid var(--ashen);
    cursor: pointer;
  }
  #categories-param-sectin .input-div .container .confirm-btn-for-rename:active{
    background-color: var(--ashen);
  }
  #categories-param-sectin .input-div #confirm-btn-for-addName{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--medium-padding);
    margin-top: var(--small-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
  #categories-param-sectin .input-div #confirm-btn-for-addName:active{
    background-color: var(--ashen);
  }
  #categories-param-sectin .input-div-for-delete #confirm-btn-for-delete{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: var(--medium-padding);
    margin-top: var(--small-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
  #categories-param-sectin .input-div-for-delete #confirm-btn-for-delete:active{
    background-color: red;
  }

.parent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--black);

}
.parent-clicked{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--black);

}

.child{
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0px

}
.child:hover{
    background-color: var(--almost-white);
}


.scrollDiv {
    background-color: var(--white);
  }

.scrollDiv::-webkit-scrollbar {
    width: 0px;
  }

  .scrollDiv::-webkit-scrollbar-track {
    background: var(--white); 
  }

  .scrollDiv::-webkit-scrollbar-thumb {
    background: var(--almost-white); 
    border-radius: 4px; 
  }

  .scrollDiv::-webkit-scrollbar-thumb:hover {
    background: var(--ashen); 
  }



/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/productsCard/startingRating/reactStars.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.react-stars{
    font-size: var(--half-size);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/pages/style.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page {
    background-color: var(white);
    position: relative;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/components/productdetail/style.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.whole-section {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--black-almost-transparnt);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7;
}

.whole-section-invisible {
    height: 0;
    transition: 0.7;
}

.whole-section .product-detail-section {
    background-color: var(--white);
    width: 90%;
    height: 95%;
    border-radius: 20px;
    position: relative;
    overflow-y: scroll;
    padding: var(--extra-large-padding) var(--large-padding);
    display: flex;
    color: var(--black);
    box-shadow: 0 5px 15px var(--ashen);
}
.whole-section .product-detail-section::-webkit-scrollbar {
    display: none;
}

.whole-section .product-detail-section .statistics {
    width: 40%;
    height: 100%;
}

.whole-section .product-detail-section #edit-section {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px;
    padding: var(--medium-padding);
    display: flex;
    /* align-items: start;
    justify-content: start; */
    flex-wrap: wrap;
    color: var(--black);

}
.whole-section .product-detail-section #edit-section::-webkit-scrollbar {
    display: none;
}
.whole-section .product-detail-section #edit-section .item {
    /* flex: 30%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    width: 32%;
    /* height: fit-content; */
    min-height: 120px;
    margin: var(--small-margin);
    padding: 0;
    border-radius: 20px;
    background-color: var(--almost-white);
    opacity: 0.8;
    position: relative;
    padding: 25px var(--small-margin) var(--small-margin) var(--small-margin) ;
    color: var(--black);

}

.whole-section .product-detail-section #edit-section .item h4 {
    position: absolute;
    top: 5%;
    margin: var(--small-margin);
}
.whole-section .product-detail-section #edit-section .item P {
    opacity: 0.5;
    margin: var(--small-margin);
    font-size: small;
}
.whole-section .product-detail-section #edit-section .item input:not(.file) {
    padding: calc(var(--medium-padding) /1.2);
    margin: calc(var(--extra-small-margin) /1.5);
    border-radius: 50px;
    width: 90%;
    outline: none;
    border: 1px solid var(--ashen);
    background-color: var(--white);
    color: var(--black);
}
.whole-section .product-detail-section #edit-section .description-item {
    flex: 100% 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px var(--medium-margin) var(--medium-margin) var(--medium-margin) ;
    padding-top: 40px;
    /* height: 70px; */
}
.whole-section .product-detail-section #edit-section .description-item textarea {
    width: 50%;
    margin: calc(var(--extra-small-margin) /1.5);
    border-radius: 10px;
    height: 100px;
    padding: var(--small-padding);
    background-color: var(--white);
    color: var(--black);
}

.whole-section .product-detail-section #edit-section .images-container{
    margin: var(--medium-margin);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.whole-section .product-detail-section #edit-section img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: -2px;
    cursor: pointer;
}
.whole-section .product-detail-section #edit-section #images img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: -2px;
    cursor: pointer;
}
.whole-section .product-detail-section #edit-section .LoadingIcon {
    position: absolute;
    top: 50%;
    padding: 0px;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whole-section .file {
    display: none;
    padding: calc(var(--small-padding) *1.5);
    /* margin: calc(var(--extra-small-margin) /2); */
    margin: 0;
    border-radius: 50px;
    width: 90%;
    outline: none;
    border: 1px solid var(--ashen);
    background-color: var(--white-almost-transparent);
    margin-top: var(--medium-margin);
    font-size: 10px;
    /* background-color: blue; */
}
.whole-section .images-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    min-height: 30%;
    max-width: 90%;
    max-height: 70vh;
    /* margin: 5px; */
    background-color: var(--white);
    box-shadow: 0 5px 150px var(--ashen-semi-transparent);
    /* padding: var(--small-padding); */
    border-radius: 20px;
    /* overflow: scroll; */
}
.whole-section .images-edit .header{
    background-color: var(--white);
    width: 100%;
    padding: var(--medium-padding);
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 20px;
    opacity: 0.8;
}
.whole-section .images-edit .header .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--small-margin);
    background-color: var(--ashen-semi-transparent);
    padding: var(--small-padding) var(--medium-padding);
    border-radius: 50px;
    color: white;
    font-size: calc(var(--small-size) *1.2);
    cursor: pointer;
}
.whole-section .images-edit .Loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whole-section .images-edit .header .item h4{
    margin: 0 var(--small-margin);
}

.whole-section .images-edit .header :active{ 
    background-color: var(--ashen);     
}
.whole-section .images-edit .images-display{
    background-color: var(--white);
    width: 100%;
    min-height: 30%;
    max-height: 60vh;
    padding: var(--medium-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: var(--medium-padding);
    border-radius: 20px;
}
.whole-section .images-edit .images-display::-webkit-scrollbar {
    display: none;
}
.whole-section .images-edit .images-display .no-image{
    /* background-color: green; */
    color: black;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 20px;
    opacity: 0.8;
}
.whole-section .images-edit .images-display img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid var(--black);
    object-fit: contain;
}

.whole-section .product-detail-section #delete h4{
    color: red;
}
.whole-section .product-detail-section #remove-product {
    background-color: red;
    color: white;
    width: 80%;
    padding: var(--medium-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: small;
}

.whole-section .product-detail-section #commit-btn {
    background-color: var(--black);
    width: 100%;
    padding: var(--medium-padding);
    margin: calc(var(--extra-small-margin) /1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: var(--white);
}

.whole-section .product-detail-section #commit-btn:active {
    background-color: var(--ashen);
}


/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/banners/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.banner-not-exist{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--black-almost-transparnt);
    position: fixed;
    z-index: 998;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: -100vh;

}
.banner-exist{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--black-almost-transparnt);
    position: fixed;
    top: var(--header-height);
    z-index: 998;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--black);
}

.banner-exist .banner {
    width: calc(var(--long-width) *1.7);
    background-color: var(--white);
    box-shadow: 0 5px 15px var(--ashen);
    margin: var(--medium-margin);
    border-radius: 20px;
    padding: var(--medium-padding);
    transition: 0.5s ease;


}
.banner-exist .banner *{
    border-radius: 20px;
}

.banner-exist .header {
    width: 100%;
    height: var(--half-height);
    position: relative;
    display: flex;
    align-items: center;
}
.banner-exist .header .icon{
    position: absolute;
    right: 7px;
}

.banner-exist .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--large-padding);
}

.banner-exist .fa-ban{
    margin: 5px;
    color: red;
}
.banner-exist .fa-check{
    margin: 5px;
    color: green;
}

.banner-exist p{
    font-size: var(--medium-size);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-exist .verification-p{
    font-size: var(--medium-size);
}

@media (max-width: 800px) {

    .banner-exist{
        top: var(--header-height-for-phone);
    }
    .banner-exist p{
        font-size: var(--medium-size);
    }
    .banner-exist .verification-p{
        font-size: var(--medium-size);
    }
}
